@font-face {
    font-family: iCielBCHuskey-Roman;
    src: url("./fonts/iCielBCHuskey-Roman.otf");
}
@font-face {
    font-family: SanomatSansVN-Light;
    src: url("./fonts/SanomatSansVN-Light.otf");
}
@font-face {
    font-family: SanomatSansVN-Medium;
    src: url("./fonts/SanomatSansVN-Medium.otf");
}
